
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <!-- <li data-target="#demo" data-slide-to="0" class="active"></li> -->
    <img src="../../assets/la.jpg" data-target="#demo" data-slide-to="0" alt="">
    <!-- <li data-target="#demo" data-slide-to="1"></li> -->
    <img src="../../assets/chicago.jpg" data-target="#demo" data-slide-to="1" alt="">
    <!-- <li data-target="#demo" data-slide-to="2"></li> -->
    <img src="../../assets/ny.jpg" data-target="#demo" data-slide-to="2" alt="">
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/la.jpg" alt="Los Angeles" width="1100" height="500">
      <!-- <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>    -->
    </div>
    <div class="carousel-item">
      <img src="../../assets/chicago.jpg" alt="Chicago" width="1100" height="500">
      <!-- <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div><br>    -->
    </div>
    <div class="carousel-item">
      <img src="../../assets/ny.jpg" alt="New York" width="1100" height="500">
      <!-- <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>    -->
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a><br>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col" style="text-align:center">
      <h2>Dell Vostro 15550</h2>
      <i class="fa fa-circle" style="font-size:24px"></i>
      <i class="fa fa-circle" style="font-size:24px"></i>
      <i class="fa fa-circle" style="font-size:24px"></i>
      <i class="fa fa-circle" style="font-size:24px"></i>
      <i class="fa fa-circle" style="font-size:24px;"></i>
      <i class="fa fa-circle" style="font-size:24px; color: white"></i>
    </div>
    <div class="col">
      <h3>AMD Quad A10-9600p Upto 3.5GHz AMD Radeon R8 With 2GB / 4Gb RAM / Ubunto 18.04 / 5TB Hardrive / 15.5 Inch Display.</h3>
      <h2>PRICE : 30,000 Rs</h2>
    </div>
  </div>
</div>
   
<div class="container-fluid">
  <div class="row">
    <div class="col">
       <table class="table table-striped">
          <tbody>
              <tr>
                  <td>Model Name</td>
                  <td>Vostro 1550</td>
              </tr>
              <tr>
                  <td>Type</td>
                  <td>Notebook</td>
              </tr>
              <tr>
                  <td>Color</td>
                  <td>Matt Black</td>
              </tr>
              <tr>
                  <td>Processor</td>
                  <td>AMD QUAD-CORE Processor A10-9600P<br>With Turbo CORE Technology<br>Upto 3.30GHz</td>
              </tr>
              <tr>
                  <td>Memory</td>
                  <td>Kingston 4GB / 8GB <br>Upto 16GB</td>
              </tr>
              <tr>
                  <td>Hardive / HDD</td>
                  <td>1TB With 5400RPM Of Speed</td>
              </tr>
              <tr>
                  <td>Solid State Drive / SSD</td>
                  <td>NA</td>
              </tr>
              <tr>
                  <td>Platform / OS</td>
                  <td>Windows 10 Pro <br>Linux</td>
              </tr>
              <tr>
                  <td>Display</td>
                  <td>15.6 Inch<br>1920 X 1080 Pixel<br>Full HD IPS Display With No Touch</td>
              </tr>
              <tr>
                  <td>Graphics</td>
                  <td>AMD Radeon R8 M445DX With 2GB Dedicated VRAM</td>
              </tr>
              <tr>
                  <td>Input</td>
                  <td>KEYBOARD - Standard English Keyword<br>WEB CAMERA - HD Webcam<br>TOUCHPAD -  Window Precisson</td>
              </tr>
              <tr>
                  <td>Connectivity</td>
                  <td>ETHERNET - 10/100 Mbps<br>BLUETOOTH - v4.1<br>WIRELESS LAN - IEEE 802.11ac</td>
              </tr>
              <tr>
                  <td>Ports And Slots</td>
                  <td>MULTI CARD SLOT - 3-in-1 Card Reader (SD, SDHC, SDXC)<br>HDMI POST - 1 x HDMI  Port (v1.4a)<br>USB PORT - 2 x USB 3.0, 1 x USB 2.0</td>
              </tr>
              <tr>
                  <td>Battery</td>
                  <td>Vostro 1550</td>
              </tr>
              <tr>
                  <td></td>
                  <td>Vostro 1550</td>
              </tr>
          </tbody>
      </table>
    </div>
     
  </div>
</div>


