
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/la.jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../../assets/chicago.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../../assets/ny.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col" style="background-color:black;">.col</div>
    <div class="col" style="background-color:black;">.col</div>
    <div class="col" style="background-color:black;">.col</div>
    <div class="col" style="background-color:black;">.col</div>
    <div class="col" style="background-color:black;">.col</div>
    <div class="col" style="background-color:black;">.col</div>
    <div class="col" style="background-color:black;">.col</div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
    <h1>News Feed</h1>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            vdjfvjdfdc<br>vfdmkvdf<br>vfkdfkjv<br>df kvfdjkv<br><br>
          </div>
        </div>
        <div class="row">
          <div class="col">
            vdjfvjdfdc<br>vfdmkvdf<br>vfkdfkjv<br>df kvfdjkv<br><br>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h1> Latest Device's</h1>
          <div class="row">
            <div class="col" style="background-color: #ededee;">
              hello<br>
              sri how are you ?<br><br><br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <h1>Upcoming Device's</h1>
            <div class="row">
              <div class="col" style="background-color: #ededee;">
                hello<br>
                sri how are you ?<br><br><br>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>



<div class="container-fluid container-fluida">
  <div class="row">
    <div class="col-md-12" style="text-align:center">
      <p>Categories</p>
      <p>Some Line To descibe anything some line to anything Some Line To descibe anything some line to anything  Some Line To descibe anything some line to anything</p>
      <div class="row">
        <div class="col">
          <p>AUDIO</p>
        </div>
        <div class="col">
          <p>AUDIO</p>
        </div>
        <div class="col">
          <p>AUDIO</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>AUDIO</p>
        </div>
        <div class="col">
          <p>AUDIO</p>
        </div>
        <div class="col">
          <!-- <p>AUDIO</p> -->
          <a routerLink="view-page">jfesjfn</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 style=" text-align: center">BEST IN</h1>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col"><img src="../../assets/la.jpg" width="100%" alt=""></div>
            <div class="col"><h2>MOBILE PHONES</h2></div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col"><img src="../../assets/la.jpg" width="100%" alt=""></div>
            <div class="col"><h2>MOBILE PHONES</h2></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>



<!-- <div class="container-fluid">
  <div class="row">
    <div class="col" style="background-color:rebeccapurple;">
      <p>footer</p>
      <app-footer></app-footer>
    </div>
</div> -->
