

<div>
  nurenderbishnoi@gmail.com
</div>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
   <a class="navbar-brand">Pizone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="alert">Alert</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="chat">Chat</a>
  </li>
    </ul>
    <!-- <a class="nav-link" routerLink="login">Log In </a> -->
    <!-- <a class="nav-link" routerLink="signup">Sign Up</a> -->
  </div>
</nav>

<router-outlet></router-outlet>